@use "../../../../scss/mixins";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;

  @include mixins.respond-to(notDesktop) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 10px;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #404040;
  overflow: hidden;

  transition: background 0.2s ease-in-out;

  @include mixins.respond-to(notDesktop) {
    flex-grow: 1;

    overflow: visible;
  }

  @include mixins.respond-to(desktopD) {
    width: 100%;
  }
}

.img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  filter: invert(75%);
  user-select: none;

  @include mixins.respond-to(notDesktop) {
    width: 100%;
  }
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  width: 100%;

  @include mixins.respond-to(notDesktop) {
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;

    max-width: 250px;
  }
}

.descTitle {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #3876bf;
  text-align: center;

  @include mixins.respond-to(notDesktop) {
    font-size: 20px;
    text-align: left;
  }
}

.descOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;

  width: 100%;

  @include mixins.respond-to(notDesktop) {
    background: none;

    padding: 0;
  }
}

.descOptionsList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;

  width: 100%;

  &__feature {
    @include mixins.respond-to(notDesktop) {
      flex-direction: column;

      & .descOptionsItem {
        width: 100%;
      }
    }
  }
}

.descOptionsItem {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: 5px;
  background: #a8a8a8;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;

  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.21px;
  color: #0754B0;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 10px;

  @include mixins.respond-to(notDesktop) {
    height: 35px;

    font-size: 12px;

    padding: 5px;
  }

  &:hover {
    background: #0754B0;

    color: #a8a8a8;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  &__active {
    background: #0754B0;

    color: #a8a8a8;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

.descInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  width: 100%;

  @include mixins.respond-to(notDesktop) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.descInfoPrice {
  flex-shrink: 0;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.33px;
  color: #3876bf;
}

.descInfoButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  background: #a8a8a8;
  border: 1px solid #0754B0;
  border-radius: 30px;

  font-family: 'Roboto', system-ui, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #0754B0;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 15px 40px;

  @include mixins.respond-to(notDesktop) {
    font-size: 12px;

    padding: 10px;
  }

  &:hover {
    background: #0754B0;

    color: #a8a8a8;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}