@use "../../../../scss/mixins";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  width: 25%;
  border-radius: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;
}

.img {
  width: 150px;
  object-fit: contain;
  user-select: none;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;

  @include mixins.respond-to(notDesktop) {
    font-size: 20px;
    text-align: left;
  }
}

.descOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;

  width: 100%;
  background: #dadada;
  border-radius: 10px;

  padding: 5px;

  @include mixins.respond-to(notDesktop) {
    background: none;

    padding: 0;
  }
}

.descOptionsList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;

  width: 100%;

  &__feature {
    @include mixins.respond-to(notDesktop) {
      flex-direction: column;

      & .descOptionsItem {
        width: 100%;
      }
    }
  }
}

.descOptionsItem {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: 10px;
  background: #dadada;
  cursor: pointer;

  text-align: center;
  font-size: 13px;
  letter-spacing: 0.21px;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 10px;

  @include mixins.respond-to(notDesktop) {
    height: 35px;

    font-size: 12px;

    padding: 5px;
  }

  &:hover {
    background: #FE5F1E;

    color: #FFF;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  &__active {
    background: #FE5F1E;

    color: #FFF;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

.descInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  width: 100%;

  @include mixins.respond-to(notDesktop) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.descInfoPrice {
  flex-shrink: 0;

  font-size: 13px;
  letter-spacing: 0.33px;

  & span {
    font-size: 16px;
    font-weight: 600;
    color: #FE5F1E;
  }
}

.descInfoButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  background: #FFF;
  border: 1px solid #FE5F1E;
  border-radius: 30px;

  font-family: 'Roboto', system-ui, sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #FE5F1E;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 10px 15px;

  @include mixins.respond-to(notDesktop) {
    font-size: 12px;

    padding: 10px;
  }

  &:hover {
    background: #FE5F1E;

    color: #FFF;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}