@use "../../../../scss/mixins";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  width: 25%;
  border-radius: 10px;

  @include mixins.respond-to(mobileOnly) {
    flex-grow: 1;

    width: auto;
  }

  @include mixins.respond-to(tabletOnly) {
    width: 33%;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;
}

.img {
  width: 150px;
  object-fit: contain;
  user-select: none;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;

  @include mixins.respond-to(mobileOnly) {
    font-size: 20px;
    font-weight: 400;
  }
}

.desc {
  padding: 0 10px;
}

.descOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;

  width: 100%;
  background: #dadada;
  border-radius: 10px;

  padding: 5px;

  @include mixins.respond-to(mobileOnly) {
    background: none;

    padding: 0;
  }
}

.descOptionsList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;

  width: 100%;
}

.descOptionsItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  border-radius: 10px;
  background: #dadada;
  cursor: pointer;

  text-align: center;
  font-size: 13px;
  letter-spacing: 0.21px;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 10px;

  @include mixins.respond-to(mobileOnly) {
    height: 35px;

    font-size: 12px;

    padding: 5px;
  }

  &:hover {
    background: #FE5F1E;

    color: #FFF;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  &__active {
    background: #FE5F1E;

    color: #FFF;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

.descInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  width: 100%;

  margin: auto 0 0 0;

  @include mixins.respond-to(mobileOnly) {
    text-align: center;
  }
}

.descInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  min-width: 180px;
}

.descInfoPrice {
  display: inline-block;

  min-width: 70px;

  font-size: 18px;
  letter-spacing: 0.33px;
}

.descInfoButton {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  max-width: 200px;
  height: 40px;
  background: #FFF;
  border: 1px solid #FE5F1E;
  border-radius: 20px;

  font-family: 'Roboto', system-ui, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #FE5F1E;

  @include mixins.respond-to(mobileOnly) {
    min-height: 37px;

    font-size: 14px;

    transition: background 0.1s linear, color 0.1s linear;

    &:active {
      background: #FE5F1E;

      color: #FFF;

      transform: scale(0.9);
      transition: background 0.1s linear, color 0.1s linear, transform 0.1s linear;
    }
  }

  @include mixins.respond-to(desktopS) {
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.1s ease-in-out;

    &:hover {
      background: #FE5F1E;

      color: #FFF;

      transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.1s ease-in-out;
    }

    &:active {
      transform: scale(0.95);
      transition: transform 0.1s ease-in-out;
    }
  }
}