@use "../../../../scss/mixins";

.root {
  padding: 20px 0;

  @include mixins.respond-to(mobileOnly) {
    padding: 10px 0;
  }

  :global {
    .base-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      @include mixins.respond-to(mobileOnly) {
        flex-wrap: nowrap;

        overflow-x: auto;

        padding: 0 0 10px 0;
      }
    }
  }
}

.catButton {
  flex-shrink: 0;

  background: #FFF;
  border-radius: 20px;
  user-select: none;

  font-family: 'Roboto', system-ui, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.24px;
  color: #2C2C2C;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 10px 20px;

  @include mixins.respond-to(mobileOnly) {
    font-size: 14px;
    font-weight: 400;

    transition: background 0.1s linear, color 0.1s linear;
  }

  @include mixins.respond-to(desktopS) {
    &:hover {
      background: #FE5F1E;

      color: #FFF;

      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    }
  }

  &_active {
    background: #FE5F1E;

    color: #FFF;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

    @include mixins.respond-to(mobileOnly) {
      background: #FE5F1E;

      color: #FFF;

      transition: background 0.1s linear, color 0.1s linear;
    }
  }
}