@use "../../../../scss/mixins";

.caption {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  width: fit-content;
  cursor: pointer;
  user-select: none;

  padding: 10px 0;

  @include mixins.respond-to(notDesktop) {
    padding: 0 0 10px 0;
  }

  &:hover {
    .captionContent {
      border-bottom: 1px dashed #FE5F1E;

      color: #FE5F1E;

      transition: border-bottom 0.2s ease-in-out, color 0.2s ease-in-out;
    }
  }
}

.captionInfo,
.captionContent {
  display: inline-block;

  font-size: 16px;
  letter-spacing: 0.21px;

  @include mixins.respond-to(notDesktop) {
    font-size: 14px;
  }
}

.captionInfo {
  font-weight: 600;
}

.captionContent {
  border-bottom: 1px dashed #FE5F1E;

  transition: border-bottom 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 0 0 0.1rem 0;
}

.captionList {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;

  min-width: 355px;
  border-radius: 1rem;
  background: #FFF;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.09);

  padding: 1.3rem 0;

  z-index: 10;

  @include mixins.respond-to(notDesktop) {
    width: 100%;
    min-width: auto;
  }
}

.captionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
  min-height: 40px;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.21px;

  transition: background 0.2s ease-in-out, 0.2s ease-in-out;

  padding: 10px 20px;

  @include mixins.respond-to(notDesktop) {
    font-size: 14px;

    padding: 5px 10px;
  }

  &:hover {
    background: #FE5F1E;

    color: #FFF;

    transition: background 0.2s ease-in-out, 0.2s ease-in-out;

    @include mixins.respond-to(desktopD) {
      & .sortArrow {
        color: #FFF;

        transition: color 0.2s ease-in-out;
      }
    }
  }

  & .sortArrow {
    display: none;
  }

  &_active {
    & .sortArrow {
      display: block;
    }
  }
}

.sortArrow {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;

  color: #FE5F1E;

  transition: color 0.2s ease-in-out;

  @include mixins.respond-to(notDesktop) {
    width: 10px;
  }

  &_down {
    transform: rotate(180deg);
  }
}