@use "../../../scss/mixins";

.root {
  padding: 20px 0;

  @include mixins.respond-to(mobileOnly) {
    position: relative;

    padding: 10px 0;
  }

  & :global {
    .base-container {
      background: #FFF;
      border-radius: 20px;

      padding: 20px;

      @include mixins.respond-to(mobileOnly) {
        padding: 10px;
      }
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  @include mixins.respond-to(mobileOnly) {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

@media (min-width: 320px) and (max-width: 449px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 450px) and (max-width: 767px) {
  .container {
    flex-direction: row;
  }
}

.logoBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  gap: 10px;

  margin: 0 auto 0 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 0 auto 0 0;
  }

  @include mixins.respond-to(desktopS) {
    &:hover {
      & .logoTitle {
        color: #FE5F1E;

        transition: color 0.2s ease-in-out;
      }
    }
  }

  & svg {
    width: 100px;

    @include mixins.respond-to(mobileOnly) {
      width: 50px;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 70px;
    }
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.logoTitle {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;

  transition: color 0.2s ease-in-out;

  @include mixins.respond-to(notDesktop) {
    font-size: 16px;
  }
}

.logoSubtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 16px;
  font-weight: 400;

  @include mixins.respond-to(notDesktop) {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .logoSubtitle {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}

@keyframes soonAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.logoSoon {
  display: inline-block;

  background: red;
  background: -webkit-linear-gradient(left, cyan, blue, violet);
  background: -o-linear-gradient(right, cyan, blue, violet);
  background: -moz-linear-gradient(right, cyan, blue, violet);
  background: linear-gradient(to right, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 18px;

  animation: soonAnim 1s linear infinite;
}

.cartBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  min-width: 175px;
  height: 40px;
  background: #dadada;
  border-radius: 20px;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 10px 20px;

  &:hover {
    background: #FE5F1E;

    transition: background 0.2s ease-in-out;

    & .cartValue {
      color: #FFF;

      transition: color 0.2s ease-in-out;
    }
  }

  @include mixins.respond-to(mobileOnly) {
    display: none;
  }
}

.cartAmount svg {
  width: 15px;
}

.cartAmount,
.cartPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.cartValue {
  font-weight: 500;
  color: #FE5F1E;

  transition: color 0.2s ease-in-out;
}