@use "../../../scss/mixins";

.searchBlock {
  position: relative;

  @include mixins.respond-to(notDesktop) {
    position: absolute;
    top: calc(100% + 20px);

    width: 95vw;
    overflow: hidden;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .searchBlock {
    order: 2;

    margin: 0;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px;

  width: 20px;
  user-select: none;

  transform: translateY(-50%);

  @include mixins.respond-to(notDesktop) {
    width: 15px;
  }
}

.searchInput {
  width: 300px;
  height: 40px;
  background: #dadada;
  border: none;
  border-radius: 20px;
  outline: none;

  font-family: "Roboto", system-ui, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #2C2C2C;

  transition: box-shadow 0.1s ease-in-out;

  padding: 10px 40px;

  @include mixins.respond-to(notDesktop) {
    height: 35px;

    font-size: 14px;
  }

  &:focus {
    box-shadow: 0 0 0 3px #FE5F1E;

    transition: box-shadow 0.1s ease-in-out;
  }
}

@media (min-width: 320px) and (max-width: 449px) {
  .searchInput {
    width: 100%;

    padding: 5px 35px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .searchInput {
    width: 100%;
    max-width: 400px;
    height: 40px;

    font-size: 14px;

    padding: 10px 40px;
  }
}

.searchClean {
  position: absolute;
  top: 50%;
  right: 10px;

  cursor: pointer;

  transform: translateY(-50%);
}