@use "../../../scss/mixins";

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.root {
  border: 1px solid #dadada;
  border-top: 1px solid #FE5F1E;
  border-radius: 50%;

  animation: spinner 5s linear infinite;
}