@use "../../scss/mixins";

.root {
  background: #1f1f1f;

  padding: 40px 0;

  @include mixins.respond-to(mobileOnly) {
    position: relative;

    padding: 20px 0;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;

  @include mixins.respond-to(mobileOnly) {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .container {
    flex-wrap: nowrap;
  }
}

.logoBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  gap: 10px;

  margin: 0 auto 0 0;

  @include mixins.respond-to(mobileOnly) {
    margin: 0;
  }

  @include mixins.respond-to(desktopS) {
    &:hover {
      & .logoImg {
        transform: scale(1.1);
        transition: 0.3s ease-in-out;
      }
    }
  }

  & svg {
    width: 50px;
    height: 50px;
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.logoImg {
  flex-shrink: 0;

  width: 100px;

  transition: 0.3s ease-in-out;

  @include mixins.respond-to(mobileOnly) {
    width: 3.5rem;
  }
}

.logoTitle {
  font-size: 28px;
  font-weight: 800;
  color: #AE2D25;
  text-transform: uppercase;

  @include mixins.respond-to(mobileOnly) {
    font-size: 1.4rem;
  }
}

.logoSubtitle {
  font-size: 20px;
  font-weight: 400;
  color: #AE2D25;

  @include mixins.respond-to(mobileOnly) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logoTitle {
    font-size: 18px;
  }

  .logoSubtitle {
    font-size: 14px;
  }
}

.cartBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-shrink: 0;

  border-radius: 30px;
  background: #AE2D25;

  padding: 20px;

  @include mixins.respond-to(mobileOnly) {
    gap: 10px;
    order: 2;

    padding: 10px;
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.cartPrice,
.cartPizzas {
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 700;
  color: #000;

  @include mixins.respond-to(mobileOnly) {
    font-size: 1.2rem;
  }
}

.cartPrice {
  position: relative;

  display: inline-block;

  padding: 0 20px 0 0;

  @include mixins.respond-to(mobileOnly) {
    padding: 0 10px 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 0.1rem;
    height: 100%;
    background: #000;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .cartBlock div {
    gap: 5px;
  }

  .cartPrice {
    padding: 0 5px 0 0;
  }
}