@use "../../../scss/mixins";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;


  border-radius: 10px;

  padding: 10px;
}

.counterButton {
  position: relative;
  flex-shrink: 0;

  width: 20px;
  height: 20px;
  background: #dadada;
  border-radius: 50%;

  transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;

  @include mixins.respond-to(desktopS) {
    &:hover {
      background: #FE5F1E;

      transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;

      &::before {
        background: #FFF;

        transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;
      }

      &::after {
        background: #FFF;

        transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;
      }
    }
  }

  &:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: 2px;
    background: #FFF;
    border-radius: 10px;
  }

  &_plus {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 2px;
      height: 60%;
      background: #FFF;
      border-radius: 10px;
    }
  }
}

.counterNumber {
  display: inline-block;

  min-width: 20px;

  font-size: 16px;
  font-weight: 500;
  text-align: center;
}