@use "../../../scss/mixins";

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  min-width: 92px;
  height: 37px;
}

.counterButton {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  background: #dadada;
  border-radius: 50%;

  transition: background 0.2s ease-in-out;

  &:hover {
    background: #FE5F1E;

    transition: background 0.2s ease-in-out;

    &::before {
      background: white;

      transition: background 0.2s ease-in-out;
    }

    &::after {
      background: white;

      transition: background 0.2s ease-in-out;
    }
  }

  &__minus {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 10px;
      height: 1px;
      background: #FE5F1E;

      transform: translate(-50%, -50%);
      transition: background 0.2s ease-in-out;
    }
  }

  &__plus {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 10px;
      height: 1px;
      background: #FE5F1E;

      transform: translate(-50%, -50%);
      transition: background 0.2s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 1px;
      height: 10px;
      background: #FE5F1E;

      transform: translate(-50%, -50%);
      transition: background 0.2s ease-in-out;
    }
  }
}

.counterNumber {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
}