@use "../mixins";

* {
	box-sizing: border-box;
	scroll-behavior: smooth;

	// border: 1px solid red;
}

:after,
:before {
	box-sizing: inherit;
}

html,
body,
#root {
	width: 100%;
	min-height: 100vh;
	background: #fff1cc;
	background: #a0bff0;
	scrollbar-gutter: stable;
	-webkit-tap-highlight-color: transparent;

	font-family: 'Roboto', system-ui, sans-serif;
	color: #2C2C2C;

	padding: 0;
	margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

button {
	background: none;
	border: none;
	cursor: pointer;

	margin: 0;
	padding: 0;
}

figure {
	display: flex;

	padding: 0;
	margin: 0;
}

img {
	vertical-align: top;
}

a {
	color: inherit;
	text-decoration: none;

	padding: 0;
	margin: 0;
}

ul,
ol {
	list-style: none;

	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

input,
textarea,
select {
	font-style: inherit;
}

#root {
	display: flex;
	flex-direction: column;
}

.page-header {
	flex-shrink: 0;
}

.page-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.page-footer {
	flex-shrink: 0;
}

.base-container {
	width: 95vw;
	max-width: 1240px;

	margin: 0 auto;
}

.section-title {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 0.32px;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	border: 0;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;

	white-space: nowrap;

	padding: 0;
	margin: -1px;
}

.modalTransition {
	&-enter {
		opacity: 0;
	}

	&-enter-active {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}

	&-exit {
		opacity: 1;
	}

	&-exit-active {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}
}

.cartPreloaderWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;

	background: #FFF;
	border-radius: 20px;

	padding: 20px 0 0 0;
	margin-bottom: 20px;

	@include mixins.respond-to(mobileOnly) {
		margin-bottom: 10px;
	}

	#preloader {
		width: 100px;
		height: 100px;
		border: 5px solid #dadada;
		border-top: 5px solid #FE5F1E;
	}
}