@use "../../../scss/mixins";

.singlePizzaContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;

  background: #FFF;
  border-radius: 20px;

  padding: 20px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;

  width: 100%;

  & a {
    width: 25%;
  }
}