@use "../../scss/mixins";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.image {
  overflow: hidden;

  @include mixins.respond-to(mobileOnly) {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background: #7f7f7f;
  }
}

.img {
  width: 280px;
  height: 260px;
  object-fit: contain;
  filter: contrast(10) grayscale(1) brightness(0.5);
  user-select: none;

  transition: filter 0.2s ease-in-out;

  @include mixins.respond-to(mobileOnly) {
    width: 20rem;
    height: auto;
  }

  @include mixins.respond-to(desktopS) {
    &:hover {
      filter: contrast(10) grayscale(1) brightness(0.6);

      transition: filter 0.2s ease-in-out;
    }
  }
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  width: 100%;
}

.descTitle {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #a53e37;
  text-align: center;
}

.descOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.7rem;

  width: 100%;
  border-radius: 10px;
  // background: #414141;
  background: #1f1f1f;

  padding: 7px 5px;
}

.descOptionsList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;

  width: 100%;
}

.descOptionsItem {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 3.5rem;
  border-radius: 5px;
  background: #313131;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;

  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.21px;
  color: #AE2D25;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 0 2rem;

  &:hover {
    background: #AE2D25;

    color: #000;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  &_active {
    background: #AE2D25;

    color: #000;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

.descInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
}

.descInfoPrice {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.33px;
  color: #a53e37;
}

.descInfoButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  min-width: 15.5rem;
  background: #313131;
  border: 1px solid #AE2D25;
  border-radius: 30px;

  font-family: 'Roboto', system-ui, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #AE2D25;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  padding: 1.5rem 2rem;

  &:hover {
    background: #AE2D25;

    color: #000;

    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

    & .descInfoButtonNum {
      background: #000;

      color: #AE2D25;

      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    }
  }

  & svg {
    flex-shrink: 0;
  }
}

.descInfoButtonNum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  min-width: 2.2rem;
  min-height: 2.2rem;
  background: #AE2D25;
  border-radius: 50%;

  color: #000;

  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  margin: 0 0 0 auto;
}